/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Poor+Story');
@import url('https://fonts.googleapis.com/css?family=Boogaloo');

/* Main */
body {
  background-color: #1D1D1D;
  padding: 30px;
  margin: 0px;
  text-align: center;
}

p {
  font-family: 'Poor Story', cursive;
}

h2, h4 {
  font-family: 'Boogaloo', cursive;
}

/* Snowflak Effect */
#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
}

.snowflake {
  padding-left: 15px;
  font-family: Cambria, Georgia, serif;
  font-size: 14px;
  line-height: 24px;
  position: fixed;
  color: #FFFFFF;
  user-select: none;
  z-index: 1000;
}

.snowflake:hover {
  cursor: default;
}

/* Poem */
#card {
  background-color: #c0c0c0;
  float: center;
  margin:1em 28em;
  padding: 0.5em 2em;
}

#main {
  padding: 1em 0 0 0;
}

.message {
  padding: 0 1em;
}

#final {
  padding: 0 0 1em 0;
}

a {
  color: #fff;
}

/* Mobile View */
@media all and (max-width: 1200px) {
  #card {
    margin-left: 3em;
    margin-right: 3em;
    padding: 0.5em 2em 1em 2em;
  }
}

@media all and (max-width: 600px) {
  #card {
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.2em 1em 0.5em 1em;
  }
}